body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url(e3.jfif);
    background-size: cover;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    background-image:url(e3.jfif);
    background-size: cover;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    text-align: center;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-image:url(wq.jpg);
    color: white;
    background-size: cover;
  }
  h1 {
    font-weight: bold;
    color: #fff;
    font-size: 40px;
  }
  .container {
    padding: 0 16px;
  }
  
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: rgb(98, 96, 96);
  }

  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  
     text-align: center; padding: 2em 0;
  }
    input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  .container {
    border-radius: 5px;
    background-color: #f9fafc;
    padding: 20px;
    color: white;
  }
  .col-25 {
    float: left;
    width: 35%;
    margin-top: 6px;
  }
  .col-75 {
    float: Left;
    width: 100%;
    margin-top: 4px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  .footer{
    background:#0d0d0d;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:medium;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    font-size: large;
    }
    
    .footer .row a:hover{
    color:#1b03f4;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }